.navbar {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.navbar__links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar__link {
    cursor: pointer;
} 

.navIcon {
    width: 20px;
    height: 20px;
}

.inl {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: hsl(212, 33%, 89%);
    overflow: hidden;
    color: hsl(209, 61%, 16%);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}