.stories {
    margin-top: 48px;
}

.stories__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.stories__title {
    font-size: 20px;
}

.stories__items {
    display: flex;
    gap: 36px;
    margin-top: 24px;
    overflow-y:scroll;
    padding: 16px 4px;
}

.story {
    text-align: center;
    max-width: 70px;
}

.story__image {
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #fff;
}

.story__title {
    font-size: 14px;
    margin-top: 12px;
    color: hsl(211, 39%, 23%);
}

.gradient {
    position: relative;
    width: 70px;
    height: 70px;
}

.gradient:after {
    display: block;
    border-radius: 9999px;
    content: '';
    width: 108%;
    height: 108%;
    position: absolute;
    z-index: -1;
    left: -4%;
    top: -4%;
    background-image: conic-gradient(
    hsl(211, 27%, 70%), 
    hsl(211, 27%, 70%), 
    hsl(211, 27%, 70%),
    hsl(211, 27%, 70%), 
    hsl(211, 27%, 70%));
    animation: spin 5s linear infinite;
}

.active:after {
    background-image: conic-gradient(
        hsl(262, 43%, 51%), 
    hsl(261, 47%, 58%), 
    hsl(261, 47%, 58%),
    hsl(261, 47%, 58%), 
    hsl(262, 43%, 51%));
    animation: spin 5s linear infinite;
}
  
  /* @keyframes spin { 
    100% { 
      transform: rotate(360deg);
    }
  } */