.stories__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.stories__title {
    font-size: 14px;
}

.seeMore {
    font-size: 12px;
    cursor: pointer;
}

.stories__items {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 12px;
    margin-top: 16px;
}

.story {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.story__image {
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #fff;
}

.story__title {
    font-size: 12px;
    margin-top: 12px;
    color: hsl(211, 39%, 23%);
}

.gradient {
    position: relative;
    width: 70px;
    height: 70px;
}

.gradient:after {
    display: block;
    border-radius: 9999px;
    content: '';
    width: 108%;
    height: 108%;
    position: absolute;
    z-index: -1;
    left: -4%;
    top: -4%;
    background-image: conic-gradient(
    hsl(211, 27%, 70%), 
    hsl(211, 27%, 70%), 
    hsl(211, 27%, 70%),
    hsl(211, 27%, 70%), 
    hsl(211, 27%, 70%));
    animation: spin 5s linear infinite;
}

.active:after {
    background-image: conic-gradient(
    hsl(160, 51%, 49%), 
    hsl(160, 51%, 49%), 
    hsl(160, 51%, 49%),
    hsl(160, 51%, 49%), 
    hsl(160, 51%, 49%));
    animation: spin 5s linear infinite;
}
  
  /* @keyframes spin { 
    100% { 
      transform: rotate(360deg);
    }
  } */

@media (max-width: 1500px) {
    /* Laptop */
    
}

@media (max-width: 1100px) {
    /* large Tablets */
    
}

@media (max-width: 642px) {
    /* mini Tablets */
    .stories__items {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 550px) {
    /* Phones */

    .stories__items {
        grid-template-columns: repeat(5, 1fr);
        gap: 12px;
        margin-top: 16px;
    }

    .story:nth-last-child(2) {
        display: none;
    }
    
}

@media (max-width: 550px) {
    /* Phones */

    .stories__items {
        grid-template-columns: repeat(5, 1fr);
    }
    
}

@media (max-width: 420px) {
    /* mini Phones */

    .stories__items {
        grid-template-columns: repeat(6, 1fr);
    }

    .story__image {
        width: 50px;
        height: 50px;
    }

    .gradient {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 380px) { 
    .stories__items {
        grid-template-columns: repeat(4, 1fr);
    }

    .story:last-child{
        display: none !important;
    }
}