.homeButton {
    background-color: transparent;
    border-color: transparent;
    font-size: 32px;
}

.main {
    background-color: hsl(245, 92%, 60%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.meausre {
    background-color: #FFF;
    border-radius: 12px;
    max-width: 512px;
    margin: 0 auto;
    padding: 36px 24px;
    box-shadow: 0 5px 15px hsla(0, 0, 0, 0.2);
}

.measure__description {
    margin-top: 16px;
}

.measure__message {
    margin-top: 16px;
}

.measure__note {
    margin-top: 64px;
    color: hsl(210, 22%, 49%);
    font-size: 14px;
}

.measure__button {
    background-color: hsl(245, 92%, 60%);
    border: 0;
    margin-top: 16px;
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    color: #FFF;
    cursor: pointer;
}

.backButton {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #FFF;
    padding: 16px;
    border-radius: 50%;
    box-shadow: 0 5px 15px hsla(0, 0, 0, 0.2);
}

/* answers form */

.question__title {
    margin-bottom: 32px;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.answer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    border: 1.5px solid hsl(212, 33%, 89%);
    border-radius: 4px;
    cursor: pointer;
}

.answer:hover {
    background-color: hsl(210, 36%, 96%);
}